body{
  text-align: center;
  color: #898F8F;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin-bottom: 120px;
}

header{
  position: relative;
  padding-bottom: 4px;
  max-width: 450px;
  margin: 120px auto 40px;
}

header::after{
  content: url(img/bonfire-sharp.svg);
  display: block;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -50%;
  width: 30px;
}

h1{
  color: gold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin-block: 15px 45px;
  line-height: 66px;
  font-size: 60px;
}

hr{
  border: none;
  background-color: gold;
  min-height: 1px;
  min-width: 1px;
  align-self: stretch;
}

figure{
  padding: 15px;
  border: 1px solid gold;
  margin: 0;
  display: inline-flex;
  position: relative;
  margin-bottom: 40px;
}

figure::before, figure::after{
  content: "";
  position: absolute;
  inset: 23.3% -2px;
  background: #fff;
}

figure::after{
  rotate: 90deg;
}

figure>img{
  z-index: 1;
  max-width: 70vw;
}

h2{
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #666;
}

h2+hr{
  height: 2px;
  max-width: 100px;
  margin-block: 30px;
}

h3{
  color: #666;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  margin-block: 30px 50px;
  gap: 5px;
}

li{
  transition: 500ms;
}

li:hover{
  filter: brightness(0.5);
}

p{
  color: #333;
  max-width: 430px;
  font-size: 14px;
  line-height: 24px;
  margin: auto;
  margin-bottom: 20px;
}

span{
  text-transform: uppercase;
}

button{
  width: 118px;
  height: 24px;
  font-family: "Open Sans" , sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid gold;
  background: none;
  display: block;
  margin: 25px auto;
}

@media (min-width: 1170px ){
  main{
    display: flex;
    max-width: 1170px;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
  }

  main>hr{
    margin: 0; 

  }
}